<div>
	<h1> 🔐 비밀번호 임시 발급 안내 </h1>
</div>
<br>
<div>
	<b> 임시 비밀번호 발급 안내 메일입니다. <br><br>

	임시 비밀번호: {{ password }}<br><br>

	임시로 할당해드린 비밀번호이므로 로그인 후 바로 비밀번호를 변경을 하시길 바랍니다. <br>
</div>
<br>
<div>
	populmap 바로가기  ➡  <a href="https://populmap.site">https://populmap.site</a> <br>
	populmap 서비스 관련 문의사항  ➡  <a href="https://github.com/populmap/populmap">https://github.com/populmap/populmap</a> <br>
</div>
